{% extends 'modelo.html' %} {% load static %}

{% block breadcrumb %}
    <div class="col-12 mt-4">
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href={% url 'inicio' %}>Home</a></li>
          <li class="breadcrumb-item"><a href="#">Exclusão</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{titulo}} {{object.id}}</li>
        </ol>
      </nav>
    </div>
{% endblock %}
{% block conteudo %}

<div class="container-fluid">
  <div class="text-center ">
    <p class="text-center m-4">Tem certeza que deseja excluir o registro " {{ object }}" ?</p>

  
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target=".bd-example-modal-sm">Deletar</button>
  </div>

  <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <form method="post">
          {% csrf_token %}
          <div class="row">
            <p class="text-center m-4">Tem certeza que deseja excluir esse registro?</p>
            
            <div class="col-12 justify-items-center m-2">
              <div class="text-center">
                <a href={% url 'inicio' %} class="btn btn-primary text-center">Voltar</a>
                <input type="submit" class="btn btn-danger text-center" value="Excluir">
              </div>
             
            </div>
          </div>
      </form>
      
      
      </div>
    </div>
  </div>
  </div>
</div>

{% endblock %}
