{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    {% block scriptHead %}
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800"
      rel="stylesheet"
    />

    <link href="{% static 'css/nucleo-icons.css' %}" rel="stylesheet" />
    <link
      href="{% static  'css/font-awesome.css'%}"
      rel="stylesheet"
    />

    <link
      type="text/css"
      href="{% static 'css/argon-design-system.min.css'%}"
      rel="stylesheet"
    />
    {% endblock %}

    <title>ManageActivities</title>
  </head>
  <body>
    {% block menu %}

    <nav class="navbar navbar-expand-lg navbar-dark bg-default">
      <a class="navbar-brand" href={% url 'home' %}>
        ManageActivities
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href={% url 'home' %}>Home <span class="sr-only">(current)</span></a>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Ver
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href={% url 'listar-atividades' %}>Atividade</a>
              <a class="dropdown-item" href={% url 'listar-blocos' %}>Bloco</a>
              <a class="dropdown-item" href={% url 'listar-disciplinas' %}>Disciplina</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Cadastrar
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href={% url 'cadastrar-atividade' %}>Atividade</a>
              <a class="dropdown-item" href={% url 'cadastrar-bloco' %}>Bloco</a>
              <a class="dropdown-item" href={% url 'cadastrar-disciplina' %}>Disciplina</a>
            </div>
          </li>
         
        </ul>
        <h5  class="text-light m-2">Bem-vindo(a) JohnDoe</h5>

        <div class="text-center ">

         <a href="">
          <img
          src="https://api.adorable.io/avatars/285/abott@adorable.io.png"
          height="65px"
          style="border-radius: 50%"
        />
         </a>
        </div>
       
      </div>
    </nav>
 

    {% block breadcrumb %}
    <div class="col-12 mt-4">
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href={% url 'home' %}>Home</a></li>
          <li class="breadcrumb-item"><a href="#">Cadastro</a></li>
          <li class="breadcrumb-item active" aria-current="page">{ pagina }</li>
        </ol>
      </nav>
    </div>
    {% endblock %}
    {% endblock %} {% block conteudo %}
    <div class="container-fluid"></div>
    {% endblock %} {% block footer %}
    <footer class="footer" style="margin-top: 40px">
      <div class="container">
        <hr />
        <div class="row align-items-center justify-content-md-between m-4">
          <div class="col-md-6">
            <div class="copyright">
              &copy; 2020
              <a href="https://github.com/Elisariane" target="_blank"
                >Elisariane</a
              >.
            </div>
          </div>
          <div class="col-md-6 align-items-center">
            <span>Feito com 💜e ☕️ por</span>
            <a
              class="text-dark"
              target="_blank"
              href="https://github.com/Elisariane"
            >
              Elisariane
            </a>
          </div>
        </div>
      </div>
    </footer>
    {% endblock %} {% block scriptJs %}
    <script src="{% static 'js/core/jquery.min.js' %}"></script>
    <script src="{% static 'js/core/popper.min.js' %}"></script>
    <script src="{% static 'js/core/bootstrap.min.js' %} "></script>

    <script src="{% static 'js/argon-design-system.min.js' %} "></script>
    {% endblock %}
  </body>
</html>
