{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800"
      rel="stylesheet"
    />

    <link href="{% static 'css/nucleo-icons.css' %}" rel="stylesheet" />
    <link
      href="https://use.fontawesome.com/releases/v5.0.6/css/all.css"
      rel="stylesheet"
    />

    <link
      type="text/css"
      href="{% static 'css/argon-design-system.min.css'%}"
      rel="stylesheet"
    />
    <title>ManageActivities</title>

  </head>

  <body class="register-page">
    <div class="wrapper">
      <section class="section section-shaped section-lg">
        <div class="shape shape-style-1 bg-gradient-danger">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-5">
              <div class="card bg-secondary shadow border-0">
                <div class="card-header bg-white">
                  <div class="text-muted text-center">
                    <h2 class="text-default">Registre-se</h2>
                  </div>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-12">
                        <form method="post">
                            {% csrf_token %}
                            {{ form | crispy }}
                            
                            <div class="row my-4">
                              <div class="col-12">
                                <div
                                  class="custom-control custom-control-alternative custom-checkbox"
                                >
                                  <input
                                    class="custom-control-input"
                                    id="customCheckRegister"
                                    type="checkbox"
                                  />
                                  <label
                                    class="custom-control-label"
                                    for="customCheckRegister"
                                    ><span
                                      >Eu me comprometo em me organizar                           
                                    </label
                                  >
                                </div>
                              </div>
                            </div>
                            <div class="text-center">

                              <small class="text-muted m-0">Já possui uma conta?
                                Vem com a gente <a href={% url 'login' %} >aqui.</a></small>
                            <hr class="divider m-2">
                            </div>
                            <div class="text-center row " style="justify-content: center;">
                              <div class="col-md-6">
                                <a type="button" href="{% url 'inicio' %}"class="btn btn-primary btn-fab btn-icon btn-round">
                                  <i class="ni ni-back-40"></i> Voltar
                                </a>
                                
                                <button type="submit" class="btn btn-success ">
                                  Criar conta
                                </button>
                              </div>
                              
                            </div>
                            
                        </form>
                    </div>
                </div>

              </div>
            </div>
            
          </div>

        </div>
      </section>
     
    </div>

    <script src="{% static 'js/core/jquery.min.js' %}"></script>
    <script src="{% static 'js/core/popper.min.js' %}"></script>
    <script src="{% static 'js/core/bootstrap.min.js' %} "></script>

    <script src="{% static 'js/argon-design-system.min.js' %} "></script>
  </body>
</html>
